<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='main.js') }}"></script>
</head>
<body>
    <div class="container">
        <h1>Credit Card Fraud Detection System</h1>
        <form id="prediction-form" method="POST">
            {% for i in range(1, 30) %}
                <label for="V{{ i }}">Enter value of V{{ i }}:</label>
                <input type="text" name="V{{ i }}" id="V{{ i }}"><br>
            {% endfor %}
            <button class="button button-block"type="button" id="predict-button">Predict</button>
        </form>
        <div id="result" style="display: none;"></div>
    </div>
</body>
</html>
